.constructor__container {
    max-width: 600px;
    width: 100%;
    height: 100%;
}

.fixed__part {
    margin-left: 32px;
}

.constructor__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    height: 70%;
    overflow: hidden;
    box-sizing: border-box;
}

.constructor__inside {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cost_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.inside__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.cost_total{
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--text-primary-color);
}

.icon {
    width: 36px;
}

