.order__box {
    margin: 80px 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.order__number_text {
    margin: 0;
}

.order__image {
    width: 120px;

}

.order__status {
    margin: 60px auto 0;
}