
.order__container {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100%;
    row-gap: 16px;
}

.order__box {
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 28, 33, 1);
    border-radius: 45px;
    width: 570px;
    padding: 24px;
    row-gap: 24px;
    height: 180px;
    text-decoration: none;
    color: white;
}

.burger__content {
    display: flex;   
}

.order__id {
    display: flex;
    justify-content: space-between;
}

.order__number {
    margin: 0;
}

.burger__info {
    display: flex;
    justify-content: space-between;
}

.order__name {
    width: 520px;
    height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.burger__price {
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.burger__content {
    position: relative;
}

.cost {
    display: flex;
    align-items: center;
}