
.board__conteiner{
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 60px;
}

.order__status {
    display: flex;
    column-gap: 36px;
}

.ready__orders {
    max-width: 400px;
    width: 100%;
}

.number__box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 420px;
    flex-wrap: wrap;
}

.order__number {
    margin: 0;
}

.redy__number {
    color: rgba(0, 204, 204, 1);
}

.in__work {
    max-width: 280px;
    width: 100%;
}
